.select-mod{
    width: 100%;
    border: 1px solid rgb(207, 207, 207);
    min-height: 40px;
    border-radius: 3px;
    cursor: pointer;
    select {
        display: none;
    }
    .select {
        background-color: white;
    }
}